/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue";
    color: #fff;
    font-family: 'Open Sans';
    background-color: rgba(1, 1, 1, 0.953);
}



.spacer {
    flex: 1 1 auto;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
